html {
    --pst-font-family-base: "Geologica", "Sans-Serif";
    --pst-font-family-heading: "Montserrat", "Sans-Serif";
    --pst-font-weight-heading: 700;
}

html[data-theme="light"] {
    --pst-color-primary: #da5da4;
    --pst-color-primary-highlight: #da5da4;
    --pst-color-secondary: #5c7ec0;
    --pst-color-secondary-highlight: #5c7ec0;
    --pst-color-accent: #a05ba4;
    --pst-color-inline-code: #a05ba4;
    --pst-color-inline-code-links: #a05ba4;
    --pst-color-table-row-hover-bg: #dddad7;
}

html[data-theme="dark"] {
    --pst-color-primary: #da5da4;
    --pst-color-primary-highlight: #da5da4;
    --pst-color-secondary: #5c7ec0;
    --pst-color-secondary-highlight: #5c7ec0;
    --pst-color-accent: #a05ba4;
    --pst-color-inline-code: #a05ba4;
    --pst-color-inline-code-links: #a05ba4;
    --pst-color-table-row-hover-bg: #dddad7;
}


/* Separation between methods in the API reference */
.py.method, .py.attribute{
    border-top: 1px solid #cccccc;
    padding-top: 30px;
    padding-bottom: 30px;
}