name: Documentation
on:
  push:
    branches:
     - main

permissions:
  id-token: write
  contents: read
  pages: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          create-args: python=3.9
          init-shell: bash
          cache-downloads: true
          cache-environment: true
          post-cleanup: all
      - name: Get version bump
        id: get-tag
        run: echo "bump=$(python flows/docker.py bump)" >> $GITHUB_OUTPUT
      - name: Build docs
        shell: bash -el {0}
        id: build
        run: |
          which python
          python -m pip install six
          python -m pip install '.[docs]'
          sphinx-build docs build/docs
      - name: Upload build artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build/docs
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
